<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="@totalpave/cordova-plugin-libcxx" version="25.0.8775105">
  <name>libc++_shared.so</name>
  <description>Cordova plugin that supplies the libc++ shared libraries for native dependencies</description>
  <author>Total Pave Inc.</author>
  <license>Apache 2.0</license>
  <keywords>cordova,cordova-android</keywords>
  <repo>https://github.com/totalpave/cordova-plugin-libcxx</repo>
  
  <platform name="android">
    <framework src="src/android/libcxx.gradle" custom="true" type="gradleReference" />
    <lib-file src="bin/libcxx-25.0.8775105.aar" />
  </platform>
</plugin>
